In [1]:
import pandas as pd

f_data = pd.read_json("../data/QnA.json")
f_data.head()

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
0,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
1,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
2,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
3,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_3,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
4,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,RSG/2008/page_114.pdf,"[[, Year Ended December 31, 2008 (Unaudited), ...","[[, year ended december 31 2008 ( unaudited ),...",{'question': 'what was the percent of the grow...,Single_RSG/2008/page_114.pdf-2_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN

In [2]:
f_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11104 entries, 0 to 11103
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pre_text    11104 non-null  object
 1   post_text   11104 non-null  object
 2   filename    11104 non-null  object
 3   table_ori   11104 non-null  object
 4   table       11104 non-null  object
 5   qa          7462 non-null   object
 6   id          11104 non-null  object
 7   annotation  11104 non-null  object
 8   qa_0        3642 non-null   object
 9   qa_1        3642 non-null   object
dtypes: object(10)
memory usage: 867.6+ KB

In [3]:
f_data.isna().sum()

pre_text         0
post_text        0
filename         0
table_ori        0
table            0
qa            3642
id               0
annotation       0
qa_0          7462
qa_1          7462
dtype: int64

In [4]:
f_data.columns

Index(['pre_text', 'post_text', 'filename', 'table_ori', 'table', 'qa', 'id',
       'annotation', 'qa_0', 'qa_1'],
      dtype='object')

In [5]:
f_data['pre_text'].values[0]

['26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 .',
 'all revenue components within the segment experienced growth during fiscal 2008 .',
 'license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year .',
 'support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support .',
 'gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins .',
 'liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements .',
 'we expect this trend to continue in the future .',
 'the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 .',
 'the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 .']

In [6]:
f_data['post_text'].values[0]

['year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 .',
 'this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 .',
 'this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years .',
 'further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 .',
 'cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions .',
 'cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions .',
 'capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 .',
 'cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year .',
 'net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities .',
 'cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises .',
 'during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities .',
 'cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises .',
 'beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities .',
 'since that time , these and other such developments have resulted in a broad , global economic downturn .',
 'while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .']

In [7]:
f_data['table_ori'].values[0]

[['', 'Year ended June 30, 2009'],
 ['2008', '2007'],
 ['Net income', '$103,102', '$104,222', '$104,681'],
 ['Non-cash expenses', '74,397', '70,420', '56,348'],
 ['Change in receivables', '21,214', '(2,913)', '(28,853)'],
 ['Change in deferred revenue', '21,943', '5,100', '24,576'],
 ['Change in other assets and liabilities', '(14,068)', '4,172', '17,495'],
 ['Net cash from operating activities', '$206,588', '$181,001', '$174,247']]

In [8]:
f_data['table'].values[-2]

[['( in days )',
  'december 31 , 2017',
  'december 31 , 2016',
  'december 31 , 2015'],
 ['days of sales outstanding ( dso ) ( 1 )', '52', '51', '48'],
 ['days of supply in inventory ( dio ) ( 2 )', '12', '12', '13'],
 ['days of purchases outstanding ( dpo ) ( 3 )',
  '-45 ( 45 )',
  '-44 ( 44 )',
  '-40 ( 40 )'],
 ['cash conversion cycle', '19', '19', '21']]

In [9]:
f_data['qa'].values[0]

{'question': 'what was the percentage change in the net cash from operating activities from 2008 to 2009',
 'answer': '14.1%',
 'explanation': '',
 'ann_table_rows': [6],
 'ann_text_rows': [],
 'steps': [{'op': 'minus2-1',
   'arg1': '206588',
   'arg2': '181001',
   'res': '25587'},
  {'op': 'divide2-2', 'arg1': '#0', 'arg2': '181001', 'res': '14.1%'}],
 'program': 'subtract(206588, 181001), divide(#0, 181001)',
 'gold_inds': {'table_6': '2008 the net cash from operating activities of year ended june 30 2009 2008 is $ 206588 ; the net cash from operating activities of year ended june 30 2009 2008 is $ 181001 ; the net cash from operating activities of year ended june 30 2009 is $ 174247 ;'},
 'exe_ans': 0.14136,
 'program_re': 'divide(subtract(206588, 181001), 181001)'}

In [10]:
f_data['annotation'].values[0]

{'amt_table': "<table class='wikitable'><tr><td>1</td><td>2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009</td></tr><tr><td>2</td><td>net income</td><td>$ 103102</td><td>$ 104222</td><td>$ 104681</td></tr><tr><td>3</td><td>non-cash expenses</td><td>74397</td><td>70420</td><td>56348</td></tr><tr><td>4</td><td>change in receivables</td><td>21214</td><td>-2913 ( 2913 )</td><td>-28853 ( 28853 )</td></tr><tr><td>5</td><td>change in deferred revenue</td><td>21943</td><td>5100</td><td>24576</td></tr><tr><td>6</td><td>change in other assets and liabilities</td><td>-14068 ( 14068 )</td><td>4172</td><td>17495</td></tr><tr><td>7</td><td>net cash from operating activities</td><td>$ 206588</td><td>$ 181001</td><td>$ 174247</td></tr></table>",
 'amt_pre_text': '26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 . all revenue components within the segment experienced growth during fiscal 2008 . license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year . support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support . gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins . liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements . we expect this trend to continue in the future . the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 . the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 .',
 'amt_post_text': 'year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 . this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 . this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years . further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 . cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions . cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions . capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 . cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year . net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises . during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises . beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities . since that time , these and other such developments have resulted in a broad , global economic downturn . while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .',
 'original_program': 'subtract(206588, 181001), divide(A0, 181001)',
 'step_list': ['Ask for number 206588',
  'Ask for number 181001',
  'subtract(206588, 181001)',
  'divide(A0, 181001)'],
 'answer_list': ['206588', '181001', 'A0', 'A1'],
 'dialogue_break': ['what is the net cash from operating activities in 2009?',
  'what about in 2008?',
  'what is the difference?',
  'what percentage change does this represent?'],
 'turn_program_ori': ['206588',
  '181001',
  'subtract(206588, 181001)',
  'subtract(206588, 181001), divide(#0, 181001)'],
 'dialogue_break_ori': ['what is the net cash from operating activities in 2009?',
  'what about in 2008?',
  'what is the difference?',
  'what percentage change does this represent?'],
 'turn_program': ['206588',
  '181001',
  'subtract(206588, 181001)',
  'subtract(206588, 181001), divide(#0, 181001)'],
 'qa_split': [0, 0, 0, 0],
 'exe_ans_list': [206588.0, 181001.0, 25587.0, 0.14136],
 'cur_program': '206588',
 'cur_dial': ['what is the net cash from operating activities in 2009?'],
 'exe_ans': 206588.0,
 'cur_type': 'number_turn',
 'turn_ind': 0,
 'gold_ind': {'table_6': '2008 the net cash from operating activities of year ended june 30 2009 2008 is $ 206588 ; the net cash from operating activities of year ended june 30 2009 2008 is $ 181001 ; the net cash from operating activities of year ended june 30 2009 is $ 174247 ;'}}

In [11]:
f_data['qa_1'].values[0]

nan

In [12]:
f_data['pre_text'] = f_data['pre_text'].apply(lambda x: ' '.join(x))
f_data['post_text'] = f_data['post_text'].apply(lambda x: ' '.join(x))
f_data.head(5)

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
0,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
1,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
2,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
3,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_3,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
4,substantially all of the goodwill and other in...,the above unaudited pro forma financial inform...,RSG/2008/page_114.pdf,"[[, Year Ended December 31, 2008 (Unaudited), ...","[[, year ended december 31 2008 ( unaudited ),...",{'question': 'what was the percent of the grow...,Single_RSG/2008/page_114.pdf-2_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN

In [16]:
f_qa_expanded = pd.json_normalize(f_data['qa'])
f_qa_expanded.head()

,question,answer,explanation,ann_table_rows,ann_text_rows,steps,program,exe_ans,program_re,gold_inds.table_6,...,gold_inds.text_47,gold_inds.table_16,gold_inds.text_49,gold_inds.table_15,gold_inds.text_63,gold_inds.table_14,gold_inds.text_73,gold_inds.text_76,gold_inds.text_211,gold_inds.text_58
0,what was the percentage change in the net cash...,14.1%,,[6],[],"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",0.14136,"divide(subtract(206588, 181001), 181001)",2008 the net cash from operating activities of...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,what was the percentage change in the net cash...,14.1%,,[6],[],"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",0.14136,"divide(subtract(206588, 181001), 181001)",2008 the net cash from operating activities of...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,what was the percentage change in the net cash...,14.1%,,[6],[],"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",0.14136,"divide(subtract(206588, 181001), 181001)",2008 the net cash from operating activities of...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,what was the percentage change in the net cash...,14.1%,,[6],[],"[{'op': 'minus2-1', 'arg1': '206588', 'arg2': ...","subtract(206588, 181001), divide(#0, 181001)",0.14136,"divide(subtract(206588, 181001), 181001)",2008 the net cash from operating activities of...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,what was the percent of the growth in the reve...,1.3%,the percent growth of the revenue is the diffe...,[1],[],"[{'op': 'minus2-1', 'arg1': '9362.2', 'arg2': ...","subtract(9362.2, 9244.9), divide(#0, 9244.9)",0.01269,"divide(subtract(9362.2, 9244.9), 9244.9)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
f_annotation_expanded = pd.json_normalize(f_data['annotation'])
f_annotation_expanded.head()

,amt_table,amt_pre_text,amt_post_text,original_program,step_list,answer_list,dialogue_break,turn_program_ori,dialogue_break_ori,turn_program,...,gold_ind.text_45,gold_ind.text_211,gold_ind.text_-1,gold_ind.text_49,gold_ind.text_73,gold_ind.text_76,gold_ind.text_63,gold_ind.text_94,gold_ind.text_96,gold_ind.text_58
0,<table class='wikitable'><tr><td>1</td><td>200...,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...","subtract(206588, 181001), divide(A0, 181001)","[Ask for number 206588, Ask for number 181001,...","[206588, 181001, A0, A1]",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,<table class='wikitable'><tr><td>1</td><td>200...,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...","subtract(206588, 181001), divide(A0, 181001)","[Ask for number 206588, Ask for number 181001,...","[206588, 181001, A0, A1]",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,<table class='wikitable'><tr><td>1</td><td>200...,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...","subtract(206588, 181001), divide(A0, 181001)","[Ask for number 206588, Ask for number 181001,...","[206588, 181001, A0, A1]",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,<table class='wikitable'><tr><td>1</td><td>200...,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...","subtract(206588, 181001), divide(A0, 181001)","[Ask for number 206588, Ask for number 181001,...","[206588, 181001, A0, A1]",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",[what is the net cash from operating activitie...,"[206588, 181001, subtract(206588, 181001), sub...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,<table class='wikitable'><tr><td>1</td><td></t...,substantially all of the goodwill and other in...,the above unaudited pro forma financial inform...,"subtract(9362.2, 9244.9), divide(A0, 9244.9)","[Ask for number 9362.2, Ask for number 9244.9,...","[9362.2, 9244.9, A0, A1]","[what were revenues in 2008?, what were they i...","[9362.2, 9244.9, subtract(9362.2, 9244.9), sub...","[what were revenues in 2008?, what were they i...","[9362.2, 9244.9, subtract(9362.2, 9244.9), sub...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
full_df = pd.concat([f_data,f_qa_expanded,f_annotation_expanded], axis=1)
full_df.head()

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1,...,gold_ind.text_45,gold_ind.text_211,gold_ind.text_-1,gold_ind.text_49,gold_ind.text_73,gold_ind.text_76,gold_ind.text_63,gold_ind.text_94,gold_ind.text_96,gold_ind.text_58
0,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"26 | 2009 annual report in fiscal 2008 , reven...","year ended june 30 , cash provided by operatio...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3_3,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,substantially all of the goodwill and other in...,the above unaudited pro forma financial inform...,RSG/2008/page_114.pdf,"[[, Year Ended December 31, 2008 (Unaudited), ...","[[, year ended december 31 2008 ( unaudited ),...",{'question': 'what was the percent of the grow...,Single_RSG/2008/page_114.pdf-2_0,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
full_df.to_csv('../data/cleaned_data.csv')